.container {
    width: $container-width;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .btn {
    display: inline-block;
    padding: 10px 17px;
    background-color: $primary-color;
    color: #ffffff;
    text-align: center;
    border-radius: 1px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #000000;
  }
  
  .bg-gradient {
    min-height: 420px;
    padding: 100px 0;
    background: url("../images/bg_gradient.png") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  
    @include sm {
      padding: 150px 0;
    }
  
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 20px;
      display: block;
      position: absolute;
  
      @include sm {
        height: 120px;
      }
    }
  
    &::before {
      background: url("../images/top_layer.png");
      background-size: 100% 100%;
      top: 0;
    }
  
    &::after {
      background: url("../images/bottom_layer.png");
      background-size: 100% 100%;
      bottom: 0;
    }
  }
  
  .section-title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 45px;
    color: #333333;
  
    &::after {
      content: "";
      width: 110px;
      height: 5px;
      margin: 15px 0 30px;
      background-color: #dddddd;
      display: block;
    }
  }
  
  .section-title.center {
    text-align: center;
  
    &::after {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .section-title > span {
    color: $primary-color;
  }