@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
*,
*::before,
*::after {
  margin: 0px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  color: #333333; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #333333; }

img {
  width: 100%;
  height: auto; }

.container {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.btn {
  display: inline-block;
  padding: 10px 17px;
  background-color: #1e72bc;
  color: #ffffff;
  text-align: center;
  border-radius: 1px;
  cursor: pointer; }

.btn:hover {
  background-color: #000000; }

.bg-gradient {
  min-height: 420px;
  padding: 100px 0;
  background: url("../images/bg_gradient.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  @media (min-width: 576px) {
    .bg-gradient {
      padding: 150px 0; } }
  .bg-gradient::before, .bg-gradient::after {
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    position: absolute; }
    @media (min-width: 576px) {
      .bg-gradient::before, .bg-gradient::after {
        height: 120px; } }
  .bg-gradient::before {
    background: url("../images/top_layer.png");
    background-size: 100% 100%;
    top: 0; }
  .bg-gradient::after {
    background: url("../images/bottom_layer.png");
    background-size: 100% 100%;
    bottom: 0; }

.section-title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 45px;
  color: #333333; }
  .section-title::after {
    content: "";
    width: 110px;
    height: 5px;
    margin: 15px 0 30px;
    background-color: #dddddd;
    display: block; }

.section-title.center {
  text-align: center; }
  .section-title.center::after {
    margin-left: auto;
    margin-right: auto; }

.section-title > span {
  color: #1e72bc; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100px;
  -webkit-box-shadow: 0 8px 6px -6px #999999;
          box-shadow: 0 8px 6px -6px #999999; }
  header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px; }
    @media (min-width: 576px) {
      header .navbar {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    header .navbar-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      header .navbar-top img {
        max-width: 235px; }
    header .navbar .menu-toggle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 5px;
      color: #1e72bc;
      border: 2px solid #1e72bc;
      border-radius: 5px;
      font-size: 25px;
      cursor: pointer; }
      @media (min-width: 992px) {
        header .navbar .menu-toggle {
          display: none; } }
    header .navbar .nav-list {
      display: none; }
      @media (min-width: 992px) {
        header .navbar .nav-list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }
      header .navbar .nav-list a {
        padding: 5px 15px; }
        header .navbar .nav-list a:hover {
          color: #1e72bc; }
      header .navbar .nav-list .active {
        color: #1e72bc; }
    header .navbar .navbar-button {
      margin-top: 10px; }
      @media (min-width: 576px) {
        header .navbar .navbar-button {
          margin: 0 0 0 10px; } }
      header .navbar .navbar-button .btn {
        display: block; }

.sidebar {
  position: fixed;
  left: -992px;
  top: 136.6px;
  z-index: 999;
  width: 100%;
  height: calc(100vh - 136.6px);
  background-color: #1e72bc;
  opacity: 0.3;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .sidebar.open {
    left: 0;
    opacity: 1; }
  @media (min-width: 576px) {
    .sidebar {
      top: 100px;
      height: calc(100vh - 100px); } }
  @media (min-width: 992px) {
    .sidebar {
      display: none; } }
  .sidebar-nav-list {
    padding: 10px; }
    .sidebar-nav-list li {
      padding: 10px;
      text-align: center; }
      .sidebar-nav-list li a {
        color: #ffffff;
        padding: 5px;
        font-size: 19px; }
        .sidebar-nav-list li a:hover {
          color: #0aceb1; }

main {
  margin-top: 136.6px; }
  @media (min-width: 576px) {
    main {
      margin-top: 100px; } }

.banner {
  min-height: 450px;
  background: url("../images/slide1.png") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden; }
  @media (min-width: 768px) {
    .banner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: stretch;
          -ms-flex-pack: stretch;
              justify-content: stretch;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .banner .container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr); }
    @media (min-width: 768px) {
      .banner .container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr); } }
    .banner .container .banner-content {
      font-size: 30px;
      color: #ffffff; }
      @media (min-width: 768px) {
        .banner .container .banner-content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
      .banner .container .banner-content h2,
      .banner .container .banner-content p,
      .banner .container .banner-content .btn {
        margin: 25px 0; }
      .banner .container .banner-content .btn {
        background-color: #ffffff;
        color: #1e72bc;
        font-size: 18px;
        border: 1px solid #0aceb1; }
        .banner .container .banner-content .btn:hover {
          background-color: #000000;
          color: #ffffff; }
    @media (min-width: 768px) {
      .banner .container .banner-image {
        width: 165%;
        margin-top: 100px; } }

.about {
  margin: 50px 0; }
  .about-items {
    text-align: center; }
    .about-items .about-item {
      margin-bottom: 20px; }
      @media (min-width: 576px) {
        .about-items .about-item {
          display: grid;
          grid-gap: 20px;
          grid-template-columns: repeat(2, 1fr); }
          .about-items .about-item:nth-child(even) .about-item-image {
            -webkit-box-ordinal-group: 0;
                -ms-flex-order: -1;
                    order: -1; } }
      .about-items .about-item-content h1 {
        margin: 10px 0 20px;
        font-size: 35px;
        background: -webkit-gradient(linear, left top, right top, from(#1e72bc), to(#0aceb1));
        background: linear-gradient(to right, #1e72bc 0%, #0aceb1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .about-items .about-item-content p {
        margin: 10px 0; }
      @media (min-width: 576px) {
        .about-items .about-item-content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
      .about-items .about-item-image img {
        max-width: 300px; }

@media (min-width: 576px) {
  .services .container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr); } }
@media (min-width: 768px) {
  .services .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr); } }
.services .container .service {
  padding: 25px;
  margin: 80px 0;
  background-color: #ffffff;
  text-align: center; }
  .services .container .service-icon {
    width: 125px;
    height: 125px;
    margin: -85px 0 30px;
    padding: 5px;
    border: 5px solid #eeeeee;
    border-radius: 50%;
    background-color: #ffffff; }
    @media (min-width: 768px) {
      .services .container .service-icon {
        width: 160px;
        height: 160px;
        margin: -110px 0 30px; } }
  .services .container .service p {
    padding: 50px; }
  .services .container .service a {
    color: #333333; }

.features {
  margin: 50px 0; }
  @media (min-width: 768px) {
    .features-grid {
      display: grid;
      grid-gap: 50px;
      grid-template-columns: repeat(3, 1fr); } }
  .features-grid .feature-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #dddddd; }
    .features-grid .feature-item-icon {
      padding: 20px;
      margin-right: 20px;
      border: 2px solid #0aceb1;
      border-radius: 50%;
      text-align: center;
      color: #0aceb1; }
      .features-grid .feature-item-icon i {
        width: 45px;
        font-size: 40px; }
      .features-grid .feature-item-icon:hover {
        background-color: #1e72bc;
        color: #ffffff;
        border-color: #1e72bc; }
  .features-grid .feature-image {
    max-width: 200px;
    margin: auto; }
    @media (min-width: 768px) {
      .features-grid .feature-image {
        max-width: 350px; } }

.steps {
  margin: 50px 0;
  color: #ffffff; }
  .steps .section-title {
    color: #ffffff; }
  .steps .step-list {
    text-align: center; }
    @media (min-width: 576px) {
      .steps .step-list {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 768px) {
      .steps .step-list {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr); } }
    .steps .step-list .step-item {
      margin: 30px 0; }
      .steps .step-list .step-item i {
        font-size: 60px;
        margin-bottom: 20px; }
      .steps .step-list .step-item p {
        font-size: 25px; }

.table-price {
  margin: 100px 0; }
  @media (min-width: 576px) {
    .table-price .price-grid {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 768px) {
    .table-price .price-grid {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr); } }
  .table-price .price-grid .price-card {
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #dddddd; }
    .table-price .price-grid .price-card:nth-child(2) h2 {
      background-color: #1e72bc; }
    .table-price .price-grid .price-card:nth-child(2) .btn {
      background-color: #0aceb1; }
      .table-price .price-grid .price-card:nth-child(2) .btn:hover {
        background-color: #000000;
        color: #ffffff; }
    .table-price .price-grid .price-card h2 {
      padding: 30px;
      margin-bottom: 15px;
      background-color: #0aceb1;
      color: #ffffff;
      text-transform: uppercase; }
    .table-price .price-grid .price-card .price {
      padding: 10px 10px 20px;
      margin: 10px 50px;
      color: #1e72bc;
      border-bottom: 1px solid #dddddd; }
      .table-price .price-grid .price-card .price p {
        font-size: 40px; }
      .table-price .price-grid .price-card .price small {
        font-size: 20px; }
    .table-price .price-grid .price-card .card-list {
      padding: 30px 0; }
      .table-price .price-grid .price-card .card-list li {
        font-size: 20px;
        color: #333333;
        line-height: 3; }

.contact {
  margin: 50px 0;
  background-color: #1e72bc;
  color: #ffffff; }
  @media (min-width: 768px) {
    .contact {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: repeat(2, 1fr); } }
  .contact .google-map {
    width: 100%;
    min-height: 400px; }
  .contact .contact-form {
    width: 500px;
    max-width: 100%;
    padding: 25px;
    margin: auto; }
    .contact .contact-form .section-title {
      color: #ffffff; }
    .contact .contact-form p {
      margin: 40px 0; }
    .contact .contact-form input,
    .contact .contact-form textarea {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 13px;
      border: none;
      outline: none; }
    .contact .contact-form .btn {
      background-color: #0aceb1; }
      .contact .contact-form .btn:hover {
        background-color: #ffffff; }

.footer-top {
  padding-top: 70px;
  padding-bottom: 40px; }
  @media (min-width: 576px) {
    .footer-top {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 768px) {
    .footer-top {
      display: grid;
      grid-gap: 40px;
      grid-template-columns: repeat(4, 1fr); } }
  .footer-top .footer-item {
    margin-bottom: 50px; }
    .footer-top .footer-item h3 {
      margin-bottom: 20px;
      color: #333333; }
  .footer-top .brand .footer-logo {
    width: 75%;
    margin-bottom: 30px; }
  .footer-top .social li {
    padding: 20px 0;
    border-bottom: 1px dashed #dddddd;
    cursor: pointer; }
    .footer-top .social li i {
      margin-right: 10px; }
    .footer-top .social li:hover {
      color: #1e72bc; }
  .footer-top .blog .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px; }
    .footer-top .blog .post img {
      max-width: 100px;
      margin-right: 15px; }
    .footer-top .blog .post-date {
      margin-bottom: 10px; }
    .footer-top .blog .post-head {
      color: #333333; }
.footer-bottom {
  padding: 20px;
  background-color: #1e72bc;
  color: #ffffff;
  text-align: center; }

.page-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 150px;
  position: relative;
  padding-top: 20px;
  background: url("../images/slide1.png") no-repeat;
  background-size: cover;
  background-position: bottom center;
  font-size: 25px;
  color: #ffffff; }
  @media (min-width: 576px) {
    .page-banner {
      height: 200px;
      padding-top: 50px; } }
  @media (min-width: 768px) {
    .page-banner {
      height: 250px;
      padding-top: 80px; } }
  @media (min-width: 992px) {
    .page-banner {
      height: 300px; } }

.screenshoots-grid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 1fr); }
  @media (min-width: 768px) {
    .screenshoots-grid {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: repeat(4, 1fr); } }

@media (min-width: 576px) {
  .team .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr); } }
@media (min-width: 768px) {
  .team .container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr); } }
.team .container .team-card {
  max-width: 300px;
  margin: 0 auto 20px;
  text-align: center; }
  .team .container .team-card .card-text {
    padding: 20px;
    line-height: 2; }
    .team .container .team-card .card-text h3 {
      color: #1e72bc; }

/*# sourceMappingURL=main.css.map */